[submodule "dynamic-meme/lib/forge-std"]
	path = dynamic-meme/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dynamic-meme/lib/openzeppelin-contracts-upgradeable"]
	path = dynamic-meme/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "dynamic-meme/lib/openzeppelin-contracts"]
	path = dynamic-meme/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dynamic-meme/lib/solady"]
	path = dynamic-meme/lib/solady
	url = https://github.com/vectorized/solady
[submodule "app/contracts/lib/openzeppelin-contracts"]
	path = app/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
