@import url("https://fonts.googleapis.com/css2?family=Pixelify+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Pixelify Mono", monospace !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.green.800") theme("colors.black");
}

::selection {
  background-color: theme("colors.green.800");
}
